
@keyframes smallToBig{
	0% {
		transform: scale(0);
	}

	

	100% {
		transform: scale(1.2);
	}

}

@keyframes skyLoadIn{
	0% {
		opacity: 0;
	}

	75%{
		opacity: .5;
	}

	100% {
		opacity: 1;
	}

}


@keyframes bottomUp {
	0% {
		bottom: -10rem;
		opacity: .05;
	}
	100% {
		bottom: 0rem;
		opacity: 1;
	}
}

@keyframes rightToLeft {
	0% {
		left: 10%;
		opacity: .05;
	}
	100% {
		left: 5%;
		opacity: 1;
	}
}

@keyframes leftToRight {
	0% {
		left: 0%;
		opacity: .05;
	}
	100% {
		left: 5%;
		opacity: 1;
	}
}

@keyframes moveSlideshow {
	0% {
		left: 0;
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(500%);
		opacity: 0;
	}
}

@keyframes moveSlideshow2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(400%);
		opacity: 0;
	}
}

@keyframes moveSlideshow3 {
	0% {
		-webkit-transform: translateX(-200%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(300%);
		opacity: 0;
	}
}

@keyframes moveSlideshow4 {
	0% {
		-webkit-transform: translateX(-300%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(200%);
		opacity: 0;
	}
}

@keyframes moveSlideshow5 {
	0% {
		-webkit-transform: translateX(-400%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes moveSlideshowRightToLeft {
	0% {
		-webkit-transform: translateX(400%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes moveSlideshowRightToLeft2 {
	0% {
		-webkit-transform: translateX(300%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(-200%);
		opacity: 0;
	}
}

@keyframes moveSlideshowRightToLeft3 {
	0% {
		-webkit-transform: translateX(200%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(-300%);
		opacity: 0;
	}
}

@keyframes moveSlideshowRightToLeft4 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(-400%);
		opacity: 0;
	}
}

@keyframes moveSlideshowRightToLeft5 {
	0% {
		-webkit-transform: translateX(0);
		opacity: 0;
	}
	25% {
		opacity: .75
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: .75;
	}
	100% {
		-webkit-transform: translateX(-500%);
		opacity: 0;
	}
}

/* any element with class .js-scroll is hidden until the class .scrolled is added to it  */



.scrolled.bottomUp {
	
	animation: bottomUp 2s;
	animation-name: bottomUp;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: both;
}


.js-scroll {
	opacity: 0;
	transition: opacity 3s;
}

.js-scroll.scrolled {
	opacity: 1;
}

.scrolled.rightToLeft {
	position: relative;
	animation: rightToLeft 2s;
	animation-name: rightToLeft;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.scrolled.leftToRight {
	position: relative;
	animation: leftToRight 2s;
	animation-name: leftToRight;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.images {
	left: 0;
	top: 0;
	position: relative;
}



.skyLoadIn{
	animation: skyLoadIn;
	animation-name: skyLoadIn;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0s;
}

.smallToBig {
	animation: smallToBig;
	animation-name: smallToBig;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 0s;
}


.firstRightToLeftImage {
	animation-name: moveSlideshowRightToLeft;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -8s;
}

.secondRightToLeftImage {
	animation-name: moveSlideshowRightToLeft2;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -6s;
}

.thirdRightToLeftImage {
	animation-name: moveSlideshowRightToLeft3;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -4s;
}

.fourthRightToLeftImage {
	animation-name: moveSlideshowRightToLeft4;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -2s;
}

.fifthRightToLeftImage {
	animation-name: moveSlideshowRightToLeft5;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 0s;
}

.first {
	animation-name: moveSlideshow;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	/* trick browser into using GPU for performance; using 3d animation even though we're just translating 2D*/
	transform: translate3d(0, 0, 0)
}

.second {
	animation-name: moveSlideshow2;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -2s;
	/* trick browser into using GPU for performance; using 3d animation even though we're just translating 2D*/
	transform: translate3d(0, 0, 0)
}

.third {
	animation-name: moveSlideshow3;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -4s;
	/* trick browser into using GPU for performance; using 3d animation even though we're just translating 2D*/
	transform: translate3d(0, 0, 0)
}

.fourth {
	animation-name: moveSlideshow4;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -6s;
	/* trick browser into using GPU for performance; using 3d animation even though we're just translating 2D*/
	transform: translate3d(0, 0, 0)
}

.fifth {
	animation-name: moveSlideshow5;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: -8s;
	/* trick browser into using GPU for performance; using 3d animation even though we're just translating 2D*/
	transform: translate3d(0, 0, 0)
}


@media (max-width: 543px) {
	.scrolled.rightToLeft {
		position: relative;
		animation: rightToLeft .5s;
		animation-name: rightToLeft;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}
	
	.scrolled.leftToRight {
		position: relative;
		animation: leftToRight .5s;
		animation-name: leftToRight;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}




}