* {
	margin: 0;
	padding: 0;
}

body {
	background: #0a2a43;
	/* min-height: 1500px; */
	scroll-behavior: smooth;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient( #2a9eb6, #1e283a );
    
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	pointer-events: none;
}

#bg {
	object-fit: cover;
    height: 120%;
}

#title-logo {
	position: relative;
	object-fit: contain;

}

#text {
	max-width: 700px;
	margin: auto;
	top: 110px;
	position: relative;
}


#pond {
	z-index: 2;
	object-fit: contain;
	opacity: 0;

}

#mountain {
	opacity: 0;
	object-fit: contain;
	
}

#moon {
	object-fit: contain;
	/* left: -199px;
	top: -199px ; */
	transform: scale(1);
	scroll-behavior: smooth;
	transition: transform .3s ease-out;
	height: 50%;
	width: 100%;
    top: 70px;
    left: -950px;
}

.parallax {
	/* The image used */
	background-image: url("/images/Paralax/bg.jpg");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-NCD {
	/* The image used */
	background-image: url("/images/Paralax/Pond-BG.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-duckJousting {
	/* The image used */
	background-image: url("/images/Paralax/DuckJousting.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-duckRaces {
	/* The image used */
	background-image: url("/images/Paralax/DuckRaces.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Hell {
	/* The image used */
	background-image: url("/images/Paralax/Hell-BG.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Signature {
	/* The image used */
	background-image: url("/images/Paralax/Boveda.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-2ndGen {
	/* The image used */
	/* background-image: url("/images/Paralax/Upside_Duck_Portal.jpg"); */
	background-image: url("/images/Paralax/Background-Pond.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Rare {
	/* The image used */
	background-image: url("/images/Paralax/Rare-BG.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Pond {
	/* The image used */
	background-image: url("/images/Paralax/Matrix.jpg");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: cover;
}

.parallax-Duckhunt {
	/* The image used */
	background-image: url("/images/Paralax/DuckHunt.jpg");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

section {
	
	background-image: linear-gradient( #002145 -50%, #2a9eb6 );
	height: 150vh;

}

.duck-img {
	position: relative;
}

@media (max-width: 543px) { 


	.duck-img-invertY{
		transform: rotateY(180deg);
	}

	#title-logo {
		object-fit: contain !important;
		position: relative;
		transform: scale(1) !important;
		scroll-behavior: smooth;
	
	}
	



	#text {
		max-width: 330px;
		margin: auto;
		position: relative;
		top: 110px;
		scroll-behavior: smooth;
		transition: transform .3s linear;
		/* transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68); */
	}

	#bg {
		height: 100%;
	}


	#pond {
		z-index: 2;
		object-fit: contain;
		top: 300px;
		scroll-behavior: smooth;
		transition: transform .3s ease-out;
		opacity: 1;
	}

	#mountain {
		top: 405px;
		object-fit: contain;
		scroll-behavior: smooth;
		transition: transform .3s ease-out;
		opacity: 1;
	}

	#moon {

		object-fit: contain;
		left: -199px;
		top: -199px ;
		transform: scale(1);
		scroll-behavior: smooth;
		transition: transform .3s ease-out;
		height: 100%;
		
	}


	section {
		height: 600px;
		background-image: linear-gradient(   #2a9eb6,  #1e283a );
		margin-top: 70px;
	}


}