* {
	margin: 0;
	padding: 0;
}

body {
	background: #0a2a43;
	/* min-height: 1500px; */
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	text-align: center;
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#text {
	position: relative;
	color: #feba00;
	font-size: 20em;
	z-index: 1;
	top: 50px;
	text-shadow: 9px 12px black;
	font-weight: 700;
}

#text2 {
	position: relative;
	color: #fff;
	font-size: 1.5em;
	z-index: 1;
	top: 50px;
	text-shadow: 4px 4px black;
}

#road {
	z-index: 2;
}

#mountain {
	top: 85px;
}

#moon {
	/* top: 30px; */
	/* transform: scale(1.45); */
}

.parallax {
	/* The image used */
	background-image: url("/images/Paralax/bg.jpg");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-NCD {
	/* The image used */
	background-image: url("/images/Paralax/Pond-BG.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-duckJousting {
	/* The image used */
	background-image: url("/images/Paralax/DuckJousting.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-duckRaces {
	/* The image used */
	background-image: url("/images/Paralax/DuckRaces.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Hell {
	/* The image used */
	background-image: url("/images/Paralax/Hell-BG.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Signature {
	/* The image used */
	background-image: url("/images/Paralax/Boveda.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-2ndGen {
	/* The image used */
	/* background-image: url("/images/Paralax/Upside_Duck_Portal.jpg"); */
	background-image: url("/images/Paralax/Background-Pond.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Rare {
	/* The image used */
	background-image: url("/images/Paralax/Rare-BG.png");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-Pond {
	/* The image used */
	background-image: url("/images/Paralax/Matrix.jpg");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: cover;
}

.parallax-Duckhunt {
	/* The image used */
	background-image: url("/images/Paralax/DuckHunt.jpg");
	/* Set a specific height */
	min-height: 500px;
	height: 500px;
	max-height: 500px;
	/* Create the parallax scrolling effect */
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}