@font-face {
	font-family: "Din-Pro-Black";
	src: url("../fonts/DINPro-Black.otf")
}

@font-face {
	font-family: "Din-Pro-Medium";
	src: url("../fonts/DINPro-Medium.otf")
}

@font-face {
	font-family: "Din-Pro-Cond-Black-Ital";
	src: url("../fonts/DINPro-CondBlackIta.otf")
}

html,
body {
    overflow-x: hidden;
    position: relative
}

h1 {
	font-family: 'Din-Pro-Cond-Black-Ital';
	color: #feba00;
	font-size: calc(3.375rem + 1.5vw)!important;

}

.header > h1 {
	text-align: center;
	margin-bottom: 2.5rem;
}




.contain-fliud  { 
	text-align: center;
}

/* inner container for margin */
.inner {
    margin-left: 5%; 
    margin-right: 5%;
}

/* title section */
.title {
	text-align: center;
	font-family: 'Din-Pro-Black';
	color: #ffffff;
	font-weight: bold;
}

.title > h2 {
	position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
	text-shadow: 3px 3px black;
}

.title-container {
	background-image: linear-gradient(#2a9eb6 -50%, #002145);
}


/* 3 main buttons  */

#three-btn-container{
	justify-content: space-evenly;
}

.white-box {
	border-radius: 13px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 9px black;
	min-width: fit-content;
    margin: auto;
}

.discord-box {
	background-color: #5c64f4;
	border: 2px solid #5c64f4;
	color: #ffffff;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.discord-box:hover {
	color: #333333;
	background-color: #ffffff;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #5c64f4;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


.twitter-box {
	background-color: #1c9cf4;
	border: 2px solid #1c9cf4;
	color: #ffffff;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.twitter-box:hover {
	color: #333333;
	background-color: #ffffff;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #1c9cf4;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


.owner-box {
	background-color: #fe4815;
	border: 2px solid #fe4815;
	color: #ffffff;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.owner-box:hover {
	color: #333333;
	background-color: #ffffff;
    /* transform: translate(0px, -7px); */
	box-shadow: 0 0 10PX #fe4815;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


/* text section container */
.NCD-section {
	background-color: black;
	background-size: cover;
	color: #ffffff;
}

/* h1 of text section  */
.NCD-title-section {
	text-align: left;
}

.NCD-title-section h1{
    font-size: calc(3.175rem + 1.5vw);
    font-family: 'Din-Pro-Cond-Black-Ital';
    margin-top: 1.5rem;
    line-height: calc(3.375rem + 1.5vw);
} 

.NCD-title-section p {
    font-family: 'Din-Pro-Medium';
}

/* subhead of text section  */
.title-subhead {
	font-size: calc(.70rem + 1.5vw);
}

/* paragraph of text section  */
.NCD-paragraph {
    margin-bottom: 3rem;
    font-size: calc(1.1rem);
    margin-top: 3rem;
}

/* buttons of text section - Start */
.three-button-row {
    text-align: center;
    justify-content: space-evenly;
}

.analytics-buttons {
	border-radius: 28px;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
    font-family: 'Din-Pro-Black';
    min-width: fit-content;
    margin: auto;
}

.OG-btns{
	background-color: #fc4414;
	color: black;
	border: 2px solid #fc4414;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.OG-btns:hover{
    background-color: white;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #fc4414;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


.hell-btns{
	background-color: #8d7424;
	color: black;
	border: 2px solid #8d7424;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.hell-btns:hover{
    background-color: white;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #8d7424;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


.signature-btns{
	background-color: #fcc404;
	color: black;
	border: 2px solid #fcc404;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.signature-btns:hover{
    background-color: white;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #fcc404;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}

.baby-btns{
	background-color: #2474fc;
	color: black;
	border: 2px solid #2474fc;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.baby-btns:hover{
    background-color: white;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #2474fc;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}

.rare-btns{
	background-color: #6c3c3c;
	color: black;
	border: 2px solid #6c3c3c;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.rare-btns:hover{
    background-color: white;
    transform: translate(0px, -7px);
	box-shadow: 0 0 10PX #6c3c3c;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


.coming-soon:hover{
	transform: translate(0px, 0px) !important;
	box-shadow: 0 0 10PX black !important;
}


.coming-soon-button:hover{
	transform: translate(0px, 7px) !important;
	box-shadow: 0 0 10PX black !important;
	cursor: not-allowed !important;

}

/* buttons of text section - End */


/* carousel images  */

.slideshow-image {
	width: 90%;
	/* sisi says dis */
	border-radius: 7px;
	-webkit-transition: all ease .75s;
	-moz-transition: all ease .75s;
	transition: all ease .75s;
}

.slideshow-image:hover {
	transform: scale(1.1);
	transition:  transform .2s ease-in-out;
}

.duck-img {
	width: 80%;
	-webkit-transition: all ease .75s;
	-moz-transition: all ease .75s;
	transition: all ease .75s;
}

.duck-img:hover {
	transform: scale(1.05);
	transition:  transform .2s ease-in-out;
}



/* --------   About and Utility Page  --------- */


.about-container {
	padding-top: 7rem;
	background-color: black;
	color: #ffffff;
	text-transform: capitalize;
}

.about-row{
	justify-content: space-evenly;
}

.about-card-container {
	text-align: center;
}

.about-card-container > h2 {
	font-family: "Din-Pro-Black";
	margin-bottom: 1rem;
	white-space: nowrap;
}

.about-card-container a div {
	margin: auto;
}

.about-buttons {
	border-radius: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	max-width: 250px;
	text-align: center;
	color: white;
	background-color: #feba00;
	border: 2px solid #feba00;
	font-size: 1.25rem;
	font-weight: bold;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.about-buttons:hover {
	color: black;
	background-color: white;
	transform: translate(0px, -7px);
	/* transform: scale(1.05); */
	box-shadow: 0 0 20PX #feba00;
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}


.about-img {
	height: auto;
	width: 100%;
	border-radius: 20px;
	margin-bottom: 2rem;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.about-img:hover {
	transform: scale(1.05);
	box-shadow: #feba00 0px 0px 39px;
	transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out, transform .5s ease-in-out;
}

.visited {
	background-color: grey !important;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;

}


.visited-again {
	
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;

}


.warning {
	
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;

}

.done{

	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}


.touchMeNot{
    position:fixed;
   font-size: 5rem;
    height:100px;
	width:100px;
	z-index: 999999;
}

.touchMeNot img{

    height:100px;
	width:100px;
	z-index: 999999;
}








.max-supply {
	font-family: 'Din-Pro-Medium';
}

.duck-overview-section-container {
	text-align: center;
	background-image: url(../images/Paralax/Background-Sky.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}


.darkest-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.dark-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.duck-overview-section-container p {
	color: #ffffff;
	font-weight: bold;
}

.white-headers {
	font-size: 25px;
	line-height: 28px;
	font-family: 'Din-Pro-Black';
	padding-top: 15px;
}







.quote-div {
	background-color: #616161;
	padding: 23px;
	border-radius: 25px;
}





footer {
	font-family: 'Din-Pro-Medium';
}

.all-rights-reserved p {
	font-size: 18px;
	padding-bottom: 25px;
}

.coming-soon {
	background-color: grey !important;
	cursor: not-allowed !important;
}

.hidden {
	display: none;
}








.carousel-row {
	padding-top: 25px;
}



.bottom-section-row {
	text-align: center;
	color: #fff;
}

#lore-container {
	background-color: #002145;
	color: #ffffff;
	overflow-y: scroll;
	min-width: 200px;
	height: 550px;
	box-shadow: 0 0 10px 10px #002145;
}

#lore-container p {
	text-align: left;
}

#FAQ:hover h1 {
	color: #ffe600 !important;
	font-size: 3rem !important;
}

#P2E:hover h1 {
	color: #ffe600 !important;
	font-size: 3rem !important;
}

#Duckwards:hover h1 {
	color: #ffe600 !important;
	font-size: 3rem !important;
}

#Cain:hover img {
	height: 450px !important;
}


/* custom css  */

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

.no-bottom-padding {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.no-text-decoration {
	text-decoration: none;
	color: black;
}

.no-text-decoration:hover {
	text-decoration: none !important;
	color: black;
}

a {
	text-decoration: none !important;
	color: black;
}

.padding-bottom {
	padding-bottom: 50px;
}










footer {
	background-color: black;
	text-align: center;
}

footer div p {
	font-size: 23px;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}



.color-text {
	color: #feba00;
}

.back-btn {
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	transition: color .45s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
}

.back-btn:hover {
	color: #feba00 !important;
	border-bottom: 2px #feba00 !important;
	transform: scale(1.15);
}

.back-btn-container {
	position: relative;
	top: -112px;
	margin-left: 17px;
}

.community img {
	width: 100%;
	margin-bottom: 25px !important;
	border-radius: 25px;
	margin: auto;
}

.community-container {
	text-align: center;
	width: 900px;
	margin: auto;
}

.community-container p {
	text-align: center;
	font-size: 24px;
}

.last-p {
	margin-bottom: 0;
}

.community h2 {
	color: #feba00;
	font-weight: bold;
}

.duck-races {
	padding-bottom: 100px;
	padding-top: 50px;
}

.first-p {
	font-size: 28px !important;
	padding-bottom: 25px;
	margin-top: -61px;
}

.fame-imgs img {
	width: 300px;
}

.fame-imgs p {
	text-align: center;
	font-family: 'Din-Pro-Medium';
}

.lore-imgs img {
	width: 550px;
	border-radius: 25px;
}

.lore-imgs p {
	font-size: 24px;
	width: 520px;
	text-align: center;
}

.lore-imgs {
	padding-bottom: 50px;
}

.utility-img:hover {
	transform: scale(1.02);
	box-shadow: #feba00 0px 0px 39px;
}



.BFPFP {
	width: 100px;
	position: relative;
	top: -13px;
	left: 268px;
}

.PFPText {
	color: #feba00;
	text-decoration: underline;
	position: relative;
	top: -75px;
	left: 130px;
	font-size: 25px;
}







.email-link {
	color: #feba00;
	text-decoration: underline;
}

.email-link:hover {
	color: #feba00;
	text-decoration: underline !important;
	transform: scale(1.1);
}

.Email-Div {
	margin: auto;
	text-align: center;
	font-size: 29px;
}

.carousel-control-next-icon:hover {
	transform: scale(1.15);
}

.carousel-control-prev-icon:hover {
	transform: scale(1.15);
}

.nav-links {
	position: relative;
	left: 40px;
}


.carousel-inner {
	width: 56% !important;
	margin: auto !important;
}

.brand-values-container {
	height: 100vh !important;
}

.carousel {
	height: 46vh;
	top: -55px;
}

.carousel p {
	font-size: 20px;
}

.quote-pfp-div {
	position: relative;
	left: 57%;
}

.PFPJohn {
	left: 95px;
}



#hall-of-fame {
	background-image: url("../images/Backgrounds/HallOfFameBackground.png");
}

.no-decor {
	text-decoration: none!important;
	color: #ffffff;
}

.no-decor:hover {
	text-decoration: none!important;
	color: #ffffff;
}

.hall-of-fame-img:hover {
	transform: scale(1.05);
}





/* ------------- Media Queries ------------- */

@media (min-width: 200px) and (max-width: 543px) {
	.title h1 {
		font-size: 8rem;
	}
	.title p {
		font-size: 1rem;
		top: -20px;
	}
	.white-box-header {
		font-size: 24px;
	}
	.desktopBr {
		display: none;
	}
	.analytics-buttons {
		width: 300px;
		margin: auto;
	}
	.white-box {
		width: 80% !important;
	}
	.reverse-column {
		flex-direction: column-reverse;
	}

}
/* Small devices (landscape phones, 544px and up) */

@media (max-width: 543px) {

  


    .NCD-title-section h1, p {
        text-align: center;
    }
	.carousel-row {
		display: none !important;
	}
	/* INDEX PAGE MOBILE - START */
	/* Reduce size of main logo for mobile  */
	#title-logo {
		width: 325px !important;
	}
	#mountain {
		height: 795px !important;
	}
	#moon {
		height: 321px !important;
	}
	#bg {
		height: 575px !important;
	}
	.nav-logos-container {
		text-align: center;
		/* margin-bottom: 20px; */
		padding-bottom: 20px;
		flex-direction: row !important;
		justify-content: space-evenly;
	}
	.white-headers {
		padding-top: 24px;
	}
	.parallax-Duckhunt {
		display: none !important;
	}
	#matrix-mobile {
		display: block !important
	}
	.parallax-Duckhunt {
		background-image: url(/images/Paralax/DuckHunt.jpg);
		min-height: 750px;
		height: 1000px !important;
		max-height: 1000px !important;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: contain;
	}
	/* INDEX PAGE MOBILE - END */
	/* ABOUT PAGE MOBILE - START */
	.about-img {
		width: 323px;
	}
	.about-buttons {
		margin: auto;
		left: 0px !important;
	}
	.about-card-container {
		padding-bottom: 50px;
	}
	#about-row {
		padding-top: 0px !important;
	}
	/* ABOUT PAGE MOBILE - END */
	/* COMMUNITY - START  */
	.community-container {
		width: 340px !important;
	}
	.community-container p {
		font-size: 17px !important;
	}
	.back-btn {
		top: -30px;
		position: relative;
		font-size: 19px !important;
	}
	/* COMMUNITY - END  */
	.fame-imgs img {
		width: 300px;
		position: relative !important;
		left: 28px !important;
	}
	footer div p {
		font-size: 15px;
	}
	.nav-links {
		position: relative;
		left: 0px !important;
	}
	.lore-imgs img {
		width: 350px;
		border-radius: 25px;
		margin-bottom: 16px;
	}
	.lore-imgs p {
		width: auto !important;
	}
	.reverse {
		flex-direction: column-reverse !important;
	}
	.carousel p {
		font-size: 11px !important;
	}
	.quote-pfp-div {
		position: relative;
		left: -42% !important;
	}
	.PFPText {
		color: #feba00;
		text-decoration: underline;
		position: relative;
		top: -75px;
		left: 181px !important;
	}
	.PFPJohn {
		left: 159px !important;
	}
	.utility-img {
		height: auto;
		width: 321px !important;
	}
	.utility-card-container p {
		width: 300px !important;
		margin: auto;
		padding-bottom: 25px;
    }
    


    /* Remove First Section Index  */
    .duck-overview-section-container{
        display: none;
    }

    /* Remove Paralax Effects for Mobile and Replace with Static Image */
    .parallax-desktop{
        display: none; 
    }

    .mobile-parallax-replacement-img img{
        width: 100%;
        object-fit: cover;
        max-height: 210px;
        min-height: 210px;
    }


   

}

@media (min-width: 544px) {

    .mobile-parallax-replacement-img{
        display: none;
    }
    
}

@media (max-width: 768px) {

}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {

	.first-nav {
		padding-left: 0px !important;
	}
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.first-nav {
		padding-left: 72px !important;
	}
	
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	
}